body {
  background: #103e6e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.navigation-bar {
  color: #fff;
  display: flex;
  flex: 0 1 64px;
  background: #103e6e;
  align-items: center;
}

.search-bar {
  flex: 0 1 64px;
  background: #103e6e;
}

.app-content {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f2f2f2;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.search {
  margin: 20px;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input[type='search'] {
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0;
  }
  input[type='search']::placeholder {
    color: #e8e8e8;
  }
  i {
    font-size: 24px;
    position: absolute;
    right: 30px;
  }
}

.search-results {
  ul {
    li {
      padding: 20px 20px;
      margin: 0px;
      border-top: 1px solid #e8e8e8;
      background: #fff;
    }
    li:first-child {
      border-top: none;
    }
  }
}

.back-button {
  padding: 0px 20px;
  a {
    color: #fff;
    display: flex;
    align-items: center;
  }
  i {
    margin-right: 10px;
    font-size: 25px;
  }
  span {
    text-transform: uppercase;
  }
}

.product-name {
  h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
  }
  span {
    color: #7b7b7b;
    font-weight: 300;
    font-size: 14px;
  }
}

.product-detail .product-name {
  margin: 20px;
  text-align: center;
  h1 {
    font-weight: 600;
  }
}

.product-details {
  ul {
    text-align: center;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    text-transform: uppercase;
    padding: 10px 0px 20px 0px;
    li {
      margin: 0px 20px;
      input[type='text'] {
        -webkit-appearance: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        width: 50px;
        border: 1px solid #e8e8e8;
        border-radius: 0;
      }
      input[type='text']::placeholder {
        color: #e8e8e8;
      }
    }
    li:first-child {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 16px;
    }
    .kh {
      float: right;
    }
  }
}

.product-notes {
  margin: 20px;
  h2 {
    font-size: 20px;
  }
}
