body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#status-bar {
  height: 20px;
  background: crimson;
}

#navigation-bar {
  height: 44px;
  background: darkblue;
  display: flex;
  align-items: center;
}

.search {
  margin: 20px;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input[type='search'] {
    -webkit-appearance: none;
    width: 90%;
    height: 50px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
  }
  input[type='search']::placeholder {
    color: #e8e8e8;
  }
  i {
    font-size: 24px;
  }
}

.search-results {
  ul {
    li {
      padding: 20px 20px;
      margin: 0px;
      border-top: 1px solid #e8e8e8;
    }
  }
}

.back-button {
  font-size: 15px;
  padding: 0px 20px;
  i {
    margin-right: 10px;
  }
  span {
    text-transform: uppercase;
  }
}

.product-name {
  h1 {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
  }
  span {
    text-transform: uppercase;
  }
}

.product-detail .product-name {
  margin: 20px;
}

.product-details {
  ul {
    background: #f2f2f2;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    padding: 10px 0px 20px 0px;
    li {
      margin: 0px 20px;
    }
    li:first-child {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 16px;
    }
    .kh {
      float: right;
    }
  }
}

.product-notes {
  margin: 20px;
  h2 {
    font-size: 20px;
  }
}
